brevitas @ git+https://github.com/iksnagreb/brevitas.git@34c350afde0a69b7a39b13eb4748b979bdae1eff
qonnx @ git+https://github.com/iksnagreb/qonnx.git@4b731dbf3120316f11ae1c4b298ceaf9e73f21b3
finn @ git+https://github.com/eki-project/finn-plus.git@ff6c0bcdf80456a260e08d369905c97f0854a17d
numpy~=1.26.4
onnxoptimizer~=0.3.13
onnxruntime~=1.17.3
onnx~=1.17.0
PyYAML~=6.0.2
torch~=2.5.0
pandas~=2.2.3
dvc[webdav]~=3.55.2
tqdm~=4.66.5
h5py~=3.12.1
scikit-learn~=1.5.2
pyarrow~=15.0.0
